<% random_tweet = item.post_sub_right_blocks.order("RAND()").first %>
<section id='twitter' class='<% if item.no_padding_bottom %>no_padding_bottom<% end %>'>
    <div class="ask__wrap">
        <h2  class="title">
          <%= item.name %>
        </h2>
        <% if item.image.attached? %>
        <div class="ask__img">
            <%= image_tag item.image %>
        </div>
        <% end %>
        <a class="twitter_button twitter_link" href="#" target="_blank" data-text="<%= random_tweet.text %>">
          <%= image_tag 'twitter.svg', class: 'twitter_icon', alt: "twitter" %>
          <span>Share your position on Twitter</span>
        </a>
    </div>
</section>