<% companies = item.post_sub_right_blocks.order(position: :asc).to_a
  first_company = companies.shift %>
<section id="companies">
      <div class="companies__wrap container">
        <h3 class="subtitle">
         <%= raw item.name %>
        </h3>
        <div class="companies__statment_wrap">
            <%= image_tag first_company.image, alt: "logo" if first_company.image.attached? %>

          <div class="green_button">
            Withdrawn
          </div>

          <div class="companies__statment">
            <%= raw first_company.text %>
          </div>
        </div>

        <div class="companeis__list">
        <% companies.each do |company| %>
          <div class="companies__item">
            <%= image_tag company.image, alt: "logo" if company.image.attached? %>
            <div class="green_button">
              Withdrawn
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>