<section class='<% if item.no_padding_bottom %>no_padding_bottom<% end %>'>
    <div class="hero__wrap container_small">
        <div class="hero__info">
            <div class="hero__info_text">
                <% item.post_sub_left_blocks.order(position: :asc).each do |block| %>
                    <%= raw block.text %>
                <% end %>
            </div>
            <div class="hero__info_list_wrap">
                <ul class="hero___info_list">
                    <% item.post_sub_right_blocks.order(position: :asc).each do |block| %>
                        <li><%= raw block.text %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</section>