@import '../vars';
@import '../typography';

@media screen and (min-width: $xl) {
    .division-news-slider {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;
        }

        .base-swiper-ctrls {
            display: none;
        }
    }
}
