<footer>
    <div class="footer__wrap">
      <ul class="footer__list container">
        <li>
          <a href="http://dru.in.ua" target="_blank">
            <%= image_tag "dru.svg", alt: "dru" %>
          </a>
        </li>
        <li>
          <a href="./EU.html">FAIR AND HONEST USE NOTICE</a>
          <%= image_tag "EU.png", alt: "EU" %>
        </li>
        <li>
          <a href="./UK.html">FAIR DEALING NOTICE</a>
          <%= image_tag "UK.png", alt: "UK" %>
        </li>
        <li>
          <a href="./USA.html">FAIR USE ACT NOTICE</a>
          <%= image_tag "USA.png", alt: "USA" %>
        </li>
      </ul>
    </div>
  </footer>