<footer>
    <div class="footer__wrap">
      <a href="http://dru.in.ua" target="_blank">
      <%= image_tag "dru.svg", alt: "dru" %>
      </a>

      <h3>Companies that support war</h3>
    </div>
</footer>