
<header>
    <div class="header__wrap">
      <a href="/" class="logo">
        <%= image_tag "main_logo.svg", alt: "money" %>
        <span>DON'T FUND</span>
      </a>
      <h3>Companies that support war</h3>
      <% if @post %>
       <a class="twitter_button" href="#twitter">
        <%= image_tag "twitter.svg", alt: "twitter", class: "twitter_icon" %>
        <span>Share your position on Twitter</span>
      </a>
      <% end %>
    </div>
  </header>
  