
    <header>
    <div class="header__wrap">
      <a href="/" class="logo">
        <%= image_tag "main_logo.svg", alt: "money" %>
        <span>DON'T FUND</span>
      </a>
      <h3>Companies that support war</h3>
      <% if @post %>
        <a href="#ask" class="orange_button">
          ASK IN TWITTER
        </a>
      <% end %>
    </div>
  </header>
  