<% blocks = PostBlock.where(block_type: "how_war_funded").order(position: :asc) %>
<section id="fundation">
    <div class="fundation__wrap container_small">
    <h2 class="title">
        HOW THE WAR IS FUNDED
    </h2>
    <% blocks.each_with_index do |block, i| %>
        <% if i % 2 == 0 %>
            <div class="fundation__item">
                <div class="fundation__text">
                    <%= raw lang_helper(block, "text") %>
                </div>
                <div class="fundation__image">
                    <%= image_tag block.image, alt: "magazine" if block.image.attached? %>
                </div>
            </div>
        <% else %>
            <div class="fundation__item reverse">
                <div class="fundation__image">
                    <%= image_tag block.image, alt: "magazine" if block.image.attached? %>
                </div>
                <div class="fundation__text">
                    <%= raw lang_helper(block, "text") %>
                </div>
                
            </div>
        <% end %>      
    <% end %>
    </div>
</section>