<% block = PostBlock.where(block_type: "is_it_worth_it").first %>
<section class="">
    <div class="container">
    <h3 class="subtitle"><%= lang_helper(block, "name") %></h3>
        <div class="hero__info">
            <div class="hero__info_text">
                    <%= raw company_name(lang_helper(block, "text"), @post.name) %>
	</li>
</ul>
            </div>
            <div class="hero__info_text">
                    <%= raw company_name(lang_helper(block, "add_data"), @post.name) %>
            </div>
        </div>
    </div>
</section>