<% block = PostBlock.where(block_type: "what_do_to_help") %>
<% if block.count > 0 %>
<section id="help">
      <div class="help__wrap container_small">
        <h2 class="title">
          <%= lang_helper(block.first, "name") %>
        </h2>
        <div class="help__text">
        
          <%= raw company_name(lang_helper(block.first, "text"), @post.name) %>
        
        </div>
      </div>
    </section>
    <% end %>